<!doctype html>

<title> Upload a File </title>
<h1 style="text-align:center;"> Background Removal </h1>
<form method="post" enctype="multipart/form-data"> 
  <h4> Upload your Foreground Image </h4>
  <input type=file name=foreground>
  <input type="submit" value=Upload>
  <br>
  <h4> Upload your Background Image </h4>
  <input type=file name=background>
  <input type="submit" value=Upload>
  <br>
  <h4> Program Status : {{stage}} </h4>
  <h4> Do you want a colored background (Specify Color) </h4>
  <input type="text" name="color" >
  <input type="submit" value=Upload>
  <br>
  <input type="submit" name="open" value="Remove!">
  <br>
  <input type="submit" name="clear" value="Clear Output">
  <br>
  <img src="/static/images/output.jpg" alt="User Image">
</form>
